.featured-card {
  background: #f6f9ff;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.56), 0 0 10px rgba(79, 70, 229, 0.95); /* blue glow */
  width: 100%;
  position: relative;
  max-width: 280px;
}

.featured-card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}
.featured-card .image-section {
  width: 100%;
  border-radius: 14px;
  position: relative;
}

.featured-card .image-section img {
  border-radius: 14px 14px 0 0;
}

.featured-card h2 {
  justify-self: center;
  /* padding-bottom: 20px; */
  padding-top: 10px;
  color: #2f4f4f;
  font-size: 20px;
}

.card-data {
  padding: 20px 20px;
}

.time-box {
  position: absolute;
  top: 0;
  right: 0;
  /* z-index: 999999; */
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  color: white;
  background-color: #2bab0d;
  width: fit-content;
  padding: 3px 10px;
  border-radius: 0px 14px 0 14px;
}

.time-box > :first-child {
  /* color: red; */
  font-weight: 900;
  /* font-size: 19px; */
}

.money-section {
  display: flex;
  align-items: center;
  /* background-color: red; */
  padding-top: 10px;
  justify-content: space-between;
}

.fee-p {
  color: #006400;
}

.card-header {
  background-color: lightgreen;
  color: green;
  padding: 3px 10px;
  width: fit-content;
  margin-left: 20px;
}

.focus-data {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.focus-data > :last-child {
  border-left: 4px solid #3b82f6;
  padding-left: 6px;
  color: #333;
  margin-left: 15px;
}

.focus-title {
  padding-bottom: 10px;
}
.focus-tag {
  background: #eef7ff;
  padding: 4px 6px;
  border-radius: 6px;
  font-size: 13px;
  color: #1e3a8a;
  font-weight: 600;
  border: 1px solid #d0e4ff;
}

.caption {
  border-radius: 14px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgb(0, 15, 152, 0.6);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  cursor: pointer;
  padding-top: 90%;
  
  transition: 0.4s;
}
.caption h1{
  display: flex;
  gap: 30px;
  align-items: center;
font-size: 25px;
}

.featured-card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.featured-card:hover .caption {
  opacity: 1;
  padding-top: 0;
}


@media (min-width: 400px) and (max-width: 599px){
  .featured-card{
    max-width: none;
    width: 100% !important;
  }
}