.input-container {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.input-container input,
.input-container select,
.input-container textarea {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #cfd8e1;
  background: transparent;
  outline: none;
  font-size: 16px;
}

.input-container input:focus,
.input-container select:focus,
.input-container textarea:focus {
  border-color: #007bff;
}

.labelline {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #7a8a9c;
  transition: 0.2s ease;
  pointer-events: none;
}

/* FLOAT UP */
.input-container input:focus + .labelline,
.input-container input:not(:placeholder-shown) + .labelline {
  top: 0px;
  font-size: 12px;
  color: #007bff;
}

.error-border {
  border: 1px solid red !important;
}

.error-message {
  color: red;
  margin-top: 3px;
  font-size: 14px;
}
