.custom-shape-divider-top-1764542905 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1764542905 svg {
  position: relative;
  display: block;
  width: calc(131% + 1.3px);
  height: 154px;
}

.custom-shape-divider-top-1764542905 .shape-fill {
  fill: white;
}

.footer {
  position: relative;
  background-color: #052748;
  /* color: white; */
  padding-top: 100px;
  height: auto;
}

.background-img {
  color: rgba(192, 192, 192, 0.116);
  left: 35%;
  top: 20%;
  pointer-events: none;

  /* z-index: -99; */

  position: absolute;
}

.main-footer {
  width: 100%;
  background-color: #052748;
  height: auto;
  padding: 0px 60px 100px 60px;
  display: grid;
  grid-template-columns: 30% 30% 40%;
  gap: 30px;
  color: white;
}

/* .main-footer div {
  border: 1px solid rgba(192, 192, 192, 0.233);
} */

.f-column-1 {
  display: flex;
  flex-direction: column;
  text-align: start;
  /* grid-column: span 2; */
  margin-bottom: 10px;
}
.f-logo {
  width: 125px;
  height: 125px;
  background-color: #052748;
  padding: 0;
  margin: 0;
}

.f-column-1-title {
  letter-spacing: 1.1px;
  font-size: 17px;
  margin-bottom: 25px;
}
.contact-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contact-info div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact-info div > :last-child {
  font-size: 17px;
}

.email-link:hover,
.phone-link:hover {
  text-decoration: underline;
  color: darkcyan;
  cursor: pointer;
}

.f-column-2 {
  display: flex;
  flex-direction: column;
  /* border: 1px solid silver; */
  align-items: center;
}

.quick-links {
  margin-top: 20px;
}
.quick-links ul li {
  color: white;
  text-decoration: none;
  margin-top: 10px;
  /* background-color: red; */
  font-size: 18px;
  cursor: pointer;
}
.quick-links ul li a:hover {
  color: darkcyan;
  text-decoration: underline;
}

.f-column-3 {
  display: flex;
  flex-direction: column;
  /* border: 1px solid silver; */
  /* align-items: center; */
}

.f-column-3-title {
  padding-top: 20px;
  font-size: 18px;
}

.news-letter-form {
  width: 90%;
  /* background-color: saddlebrown; */
  display: grid;
  grid-template-columns: 65% 35%;
}

.news-letter-form input,
button {
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 15px;
  outline: none;
  /* border: 2px solid silver; */
  border: none;
}
.news-letter-form input {
  border-radius: 14px 0 0 14px;
  padding: 15px 20px;
}

.news-letter-form button {
  border-radius: 0 14px 14px 0;
  background-color: darkcyan;
  color: white;
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  padding: 0 15px;
}

.news-letter-form button:hover {
  background-color: darkgreen;
}

.social-icons {
  display: flex;
  gap: 15px;
  align-items: center;
  border: 2px solid rgba(192, 192, 192, 0.199);
  width: 40%;
  /* justify-content: center; */
  padding: 15px;
  border-radius: 14px;
  cursor: pointer;
  /* transition: all 0.9s ease-in-out; */
}
.social-icons a {
  color: white;
  font-size: 24px;
  transition: all 0.3s ease-in-out;
}

.social-icons a:hover {
  transform: scale(1.3);
}

.social-icons .facebook:hover {
  color: #1877f2;
}

.social-icons .twitter:hover {
  color: #1da1f2;
}
.social-icons .instagram:hover {
  color: #e1306c;
}
.social-icons .whatsapp:hover {
  color: #25d366;
}

@media (max-width: 599px) {
  .footer {
    padding: 0;
  }
  .main-footer {
    grid-template-columns: 1fr;
    padding: 20px;
    gap: 40px;
  }

  .background-img {
    display: none;
  }

  .social-icons {
    width: 100%;
    justify-content: center;
  }

  .news-letter-form {
    grid-template-columns: 1fr;
    border: 1px solid rgba(192, 192, 192, 0.199);
    justify-self: center;
    width: 100%;
    margin: 20px 0 20px 0;
    padding: 10px 20px 10px 20px;
    border-radius: 14px;
  }

  .news-letter-form input {
    border-radius: 14px;
  }

  .news-letter-form button {
    border-radius: 14px;
    height: 50px;
    justify-self: center;
    width: 60%;
    justify-content: center;
    margin-top: -10px;
  }

  .f-column-2 {
    align-items: start;
  }
  .custom-shape-divider-top-1764542905 svg {
    display: none;
  }
}
@media (min-width: 600px) and (max-width: 899px) {
  .main-footer {
    grid-template-columns: 1fr 1fr;
    padding: 40px;
    gap: 40px;
  }

  .background-img {
    display: none;
  }

  .social-icons {
    width: 60%;
  }
}

@media (min-width: 900px) and (max-width: 1199px) {
  .main-footer {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 40px 60px;
    gap: 30px;
  }

  .social-icons {
    width: 50%;
  }
}
