.navbar-main-section {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  /* background-color: darkgreen; */
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 10px 25px;
  color: #1a2e40;
  font-size: 18px;
  background: #e3e6f3;
  box-shadow: 0 15px 30px rgb(0, 0, 0, 0.26);
}

.nav-links ul {
  width: 120%;
  display: flex;
  justify-content: space-between;
}

.nav-links ul li > :first-child,
.nav-links-2 ul li > :first-child {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 10px;
}

.active,
.nav-links ul li > :first-child:hover,
.nav-links-2 ul li > :first-child:hover {
  background-color: darkcyan;
  color: white;
  border-radius: 10px;
}
.active .nav-icon,
.nav-links ul li > :first-child:hover .nav-icon,
.nav-links-2 ul li > :first-child:hover .nav-icon {
  color: white;
}

.nav-icon {
  color: #006666;
}

/* container */
.dropdown {
  position: relative;
}

/* style the dropdown header */
.dropdown-link {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 10px;
  cursor: pointer;
}

/* hide submenu by default */
.sub-menu {
  display: none;
  position: absolute;
  background: #e3e6f3;
  border: 1px solid darkcyan;
  box-shadow: 0 15px 30px rgb(0, 0, 0, 0.26);
  padding: 10px 0;
  top: 40px; /* below the More button */
  width: 200px;
  border-radius: 8px;
  /* box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2); */
  z-index: 999;
}

/* show submenu on hover */
.dropdown:hover .sub-menu {
  display: block;
}

/* submenu items */
.sub-menu ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.sub-menu ul li {
  padding: 10px 15px;
  /* background-color: red; */
  width: 200px;
}

.sub-menu ul li:hover {
  /* background-color: #2bab0d; */
  border-radius: 10px;
  width: 200px;
}

.hamburger-menu {
  display: none !important;
}
.close-menu{
  display: none;
}
/* Hide nav-links on small screens by default */

@media (max-width: 768px) {
  .nav-links {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 70%;
    background: #e3e6f3;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
    z-index: 999;
  }

  /* Show menu when active */
  .nav-links.mobile-active {
    display: flex;
  }
  .nav-links-2 ul{
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .hamburger-menu {
    display: block !important;
    cursor: pointer;
    z-index: 1000;
    color: #006666;
  }
  .close-menu{
    display: block;
    
  }

  .nav-links ul {
    flex-direction: column;
    width: 100%;
  }

  .nav-links ul li {
    width: 100%;
    
  }

  /* Dropdown submenu on mobile */
  .dropdown .sub-menu {
    position: relative;
    top: 0;
    border: none;
    box-shadow: none;
    width: 100%;
    display: none;
  }

  .dropdown.mobile-open .sub-menu {
    display: flex;
    flex-direction: column;
  }
}
