.why-choose-us {
  padding: 60px 20px;
  background-color: #ecfeffb7; /* light gray background */
  text-align: center;
  scroll-margin-top: 100px; /*height of the navbar*/
}

.horizontal-line {
  width: 100%;
  margin-bottom: 30px;
}
.actual-line {
  height: 2px;
  width: 10%;
  background-color: green;
  justify-self: center;
}
.section-header {
  font-size: 2rem;
  font-weight: 700;
  color: #2f4f4f;
  margin-bottom: 10px;
}

.section-subheader {
  margin-bottom: 40px;
  font-size: 50px;
  text-align: center;
  font-family: "Agraham", serif;
  color: #1e3a8a;
}

.features-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  justify-items: center;
}

.feature-card {
  background-color: #fff;
  border-radius: 12px;
  padding: 30px 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s, box-shadow 0.3s;
  width: 100%;
  max-width: 280px;
  border: 1px solid #e5e7eb;
  position: relative;
}

.feature-card::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 4px;
  background-color: #10b981; /* green accent */
  border-radius: 2px;
}

.feature-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}



.feature-icon {
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.feature-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #1f2937;
  margin-bottom: 8px;
}

.feature-description {
  font-size: 1.1rem;
  color: #6b7280; /* gray text */
  line-height: 1.4;
}


@media (max-width: 399px) {
  .section-subheader {
    font-size: 35px;
  }
}
@media (min-width: 400px) and (max-width: 599px) {
.section-subheader {
    font-size: 35px;
  }}